{
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"printWidth": 120,
	"useTabs": true,
	"jsxSingleQuote": false,
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"arrowParens": "avoid",
	"vueIndentScriptAndStyle": false,
	"endOfLine": "lf",
	"trailingComma": "none"
}