@import "ant-design-vue/dist/antd.css";
@import "./mixin.less";

body {
  color: black;
  background-color: white;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  .dm-body-content {
    width: 100%;
    margin: 0 auto;
  }
}
